<div class="jumbo">
    <center>
    <img src="{{ url_for('static', filename='img/snoo.png') }}">
    <h1>AlienHot</h1>
    {% if reddit.is_defaults == 0 %}
    <a href="{{ url_for('set_defaults') }}"><h4> - Default subreddits - </h4></a>
    {% else %}
    <a href="{{ url_for('set_defaults') }}"><h4> - User-Selected subreddits - </h4></a>
    {% endif %}
    <h4>{{ lst }}</h4>
	<form action="{{ url_for('add_sub') }}" method=post class=add_sub>
		<dd><input type=text name=subreddit><input type=submit value=Add!>
		</dl>
	</form>
	    {% for sub in subreddits %}
	    	<hr>
	    	<h3><b>{{ sub.reddit_name }}</b></h3>
			<form action="{{ url_for('remove_sub') }}" method=post class=remove_sub>
			<button name="subreddit" value="{{ sub.name }}">Remove Subreddit</button>
			</form>
			<br>
	    	{% for post in sub.submissions %}
	        	<a href="{{ post.url }}">{{ post.title }}</a>
	        	<br>
	        {% endfor %}
	        <br>
	    {% endfor %}
	<hr>
	<form action="{{ url_for('change_amount') }}" method=post class=change_amount>
		<dt>By default, AlienHot fetch the top post from each subreddit - but you can get more!</dt>
		<dd><input type=text name=amount><input type=submit value=Change Amount></dd>
		</dl>
	</form>
    </center>
</div>