<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
      <title>Reddit Summery - Get it while it's hot</title>
  </head>
  <body>

    <header>
      <div class="container">
        <a href="index.html"><h1 class="logo">Reddit Summery</h1></a>
      </div>
    </header>
    <br>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    <br>
    <center><a href="https://github.com/OzTamir"><h5>Built by Oz Tamir</h5></a></center>
  </body>
</html>
