<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
      <title>AlienHot - Get it while it's hot</title>
  </head>
  <body style="background-image:url({{ url_for('static', filename='img/background.png') }}); background-repeat:repeat;">
    <header>
      <div class="container">
        <a href="{{ url_for('index') }}">
        <h1 class="logo"><img src="{{ url_for('static', filename='img/logo.png') }}">
         | Get it while it's hot
        </h1>
        </a>
      </div>
    </header>
    <br><br><br>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    <br>
    <center>
      <a href="https://github.com/OzTamir"><img src="{{ url_for('static', filename='img/github.png') }}">
      <h5>Built by Oz Tamir</h5>
      </a>
      <h6>Using <a href="https://github.com/mitsuhiko/flask">Flask</a> & <a href="https://github.com/praw-dev/praw/">PRAW</a> as frameworks</h6>
    </center>
  </body>
</html>
